html {
    scroll-behavior: smooth;
}

a:focus,
button:focus{
    outline: none;
}

.fs-underdog {
    font-family: 'Underdog', sans-serif;
}
.hero-bg {
    background-image: url('koku-bottles.jpg');

}