@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi_Complete/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi_Complete/Satoshi-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi_Complete/Satoshi-Italic.otf');
    font-style: italic;
}
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi_Complete/Satoshi-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

a:focus,
button:focus{
    outline: none;
}

.fs-satoshi {
    font-family: 'Satoshi', sans-serif;
}
.fs-underdog {
    font-family: 'Underdog', sans-serif;
}
.hero-bg {
    background-image: url('img/hero-bg.png');
    background-size: cover;
    background-position: center;
}