@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Regular.ttf');
}
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

a:focus,
button:focus{
    outline: none;
}

.fs-satoshi {
    font-family: 'Satoshi', sans-serif;
}
.fs-underdog {
    font-family: 'Underdog', sans-serif;
}
.hero-bg {
    /* background-image: url('img/koku-cat.png'); */

}